/* Fontes */

@font-face {
  font-family: 'oggRoman';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../../files/fonts/ogg-roman.woff') format('woff');
}

@font-face {
  font-family: 'markProRegular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../../files/fonts/mark-pro.woff') format('woff');
}

@font-face {
  font-family: 'markProBold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../../files/fonts/mark-pro-bold.woff') format('woff');
}