/*

VARIABLES

*/

:root {

  /* Cores */

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;

  --cor-cinza: #141518;
  
  --cor-verde-claro: #00ff6d;
  --cor-verde: #00bf8c;
  --cor-ciano: #1AFA96;

  /* Fontes */

  --fonte-estilo: 'badGrunge';
  --fonte-regular: 'gtWalsheimRegular';

}
