/*

VARIABLES

*/

:root {

  /* Cores */

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;
  --cor-cinza: #070705;
  --cor-verde: #7E7F40;
  --cor-pele: #BB9C70;

  /* Fontes */

  --fonte-estilo: 'oggRoman';
  --fonte-regular: 'markProRegular';
  --fonte-bold: 'markProBold';

}
