/* index <footer> */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-image: url('../../../../../files/images/index/background-folhas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer img {
  width: 100%;
  max-width: 250px;
}

footer p {
  font-family: var(--fonte-regular);
  font-size: clamp(0.8rem, 5vw, 1rem);
  color: var(--cor-branco);
  line-height: 1.8;
  text-transform: uppercase;
  padding: 25px 0 0 0;
  text-align: center;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
