/* index <footer> */

footer {
  display: none;
  background-image: url('../../../../../files/images/index/background-folhas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
