/* index <header> */

header {
  display: flex;
  background-image: url('../../../../../files/images/index/background-folhas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header .imagem {
  background-image: url('../../../../../files/images/index/imagem-header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
