/* index <section class="comprar"> */

section.comprar {
  display: none;
  background-image: url('../../../../../files/images/index/background-textura.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
