/* index <section class="facilidade"> */

section.facilidade {
  display: flex;
  background-image: url('../../../../../files/images/index/background-folhas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

section.facilidade * {
  display: none;
}

section.facilidade .imagem {
  background-image: url('../../../../../files/images/index/imagem-facilidade.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
